<!DOCTYPE html>
<html lang="en"></html>
<head> </head>
<body>

  <!--FORMULARIO LOGIN-->


  <div class="card" >

    <div class="card-body">
      <h5 class="card-title">FOTO DO PET</h5>

      <form class="row g-3">

        <div class="mb-3" id="arqfoto">
          <label for="formFile" class="form-label">Selecione uma foto do pet encontrado</label>
          <input class="form-control" type="file" id="formFile">
        </div>

        <div class="col-12">
          <label for="inputAddress" class="form-label">Endereço Atual </label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Endereço onde o pet foi encontrado">
        </div>


       </form>
      <br>
      <a routerLink = "" class="btn btn-primary">Confirmar Achado</a>



  </div>
</div>
</body>
