<!DOCTYPE html>
<html lang="en"></html>
<head> </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">PHILOTES</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/registrar"
              >Registrar</a
            >
          </li>
        </ul>

        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Digite a raça aqui..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Procurar
          </button>
        </form>
      </div>
    </div>
  </nav>

  <!--FORMULARIO LOGIN-->


  <div class="card" >

    <div class="card-body">
      <h5 class="card-title">FOTO DO PET</h5>

      <form class="row g-3">

        <div class="mb-3" id="arqfoto">
          <label for="formFile" class="form-label">Selecione uma foto do pet encontrado</label>
          <input class="form-control" type="file" id="formFile">
        </div>

        <div class="col-12">
          <label for="inputAddress" class="form-label">Endereço Atual </label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Endereço onde o pet foi encontrado">
        </div>


       </form>
      <br>
      <a routerLink = "" class="btn btn-primary">Confirmar Achado</a>



  </div>
</div>
</body>
