<!DOCTYPE html>
<html lang="en"></html>
<head>
</head>
<body>

      <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">PHILOTES</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/registrar"
              >Registrar</a
            >
          </li>
        </ul>

        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Digite a raça aqui..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Procurar
          </button>
        </form>
      </div>
    </div>
  </nav>

  <div class="card" >

    <div class="card-body">
      <h5 class="card-title">@USUARIO</h5>

      <form class="row g-3">

        <div class="col-12">
          <label for="inputName" class="form-label">Nome :</label>
          <input class="form-control" type="text" value="@UserName" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="col-12">
          <label for="inputName" class="form-label">Email</label>
          <input class="form-control" type="text" value="@UserEmail" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="col-12">
          <label for="inputName" class="form-label">Endereço</label>
          <input class="form-control" type="text" value="@UserAdress" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="col-12">
          <label for="inputName" class="form-label">Cidade</label>
          <input class="form-control" type="text" value="@UserCity" aria-label="Disabled input example" disabled readonly>
        </div>

      </form>

     </div>

