<!DOCTYPE html>
<html lang="en"></html>
<head> </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">PHILOTES</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/registrar"
              >Registrar</a
            >
          </li>
        </ul>

        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Digite a raça aqui..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Procurar
          </button>
        </form>
      </div>
    </div>
  </nav>



  <h1>LOGIN BEM SUCEDIDO!!</h1>
  <h2>Usuario: @userId</h2>
  <br>
  <h2>Emai-l: @userEmail</h2>
