<!--Card Pet Pedido-->
<div class="card1">
  <div class="imagempet1">
    <img src="{{petFoto()}}" class="cachorro1">
  </div>
  <div class="div1">
    <div class="emailclick1">
      <a routerLink="">
        <img src="/assets/img/emailimagem.png" alt="imagemEmail1" class="imgEmail1">
      </a>
    </div>

  </div>

  <div class="nomePet">
    <label>
        {{pet.nome}}
    </label>
  </div>

  <div class="localPet">
    <label> Visto perto de: {{pet.ultimoLocalVisto}}</label>
  </div>
  <div class="descricaoPet">
    <label> Descrição: {{pet.descricao}}</label>
  </div>

  <div class="buttons" [style.display]="isLoggedIn() ? 'block' : 'none'" >
    <button class="botaoPet color-1" (click)="logout()">Pet encontrado</button>

  </div>
 <!--  <div class="buttons" [style.display]="isLoggedIn() ? 'none' : 'block'" >
    <button class="botaoPet color-1" routerLink="/registrar">registrar</button>
    <button class="botaoPet color-2" routerLink="/login">login</button>
  </div> -->


    <br>
</div>
