<!DOCTYPE html>
<html lang="en"></html>
<head> </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">PHILOTES</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/registrar"
              >Registrar</a
            >
          </li>
        </ul>

        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Digite a raça aqui..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Procurar
          </button>
        </form>
      </div>
    </div>
  </nav>

  <!--Card Pet Pedido-->
  <div class="card1">
    <div >
      <button type="button" class="btnAcheiPet" routerLink="acheipet">
        Achei um pet
      </button>
      <button type="button" class="btnAcheiPet2" routerLink="perdipet">
        Perdi meu pet
      </button>
    </div>
  </div>
      <!-- Card 2 carrossel -->
  <div class="card2">

  </div>


</body>
