<!DOCTYPE html>
<html lang="en"></html>
<head>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink ="/home" >PHILOTES</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/registrar"
              >Registrar</a
            >
          </li>
        </ul>

        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Digite a raça aqui..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit" >
            Procurar
          </button>
        </form>
      </div>
    </div>
  </nav>



  <!--Card Pet Pedido-->
  <div class="card1">
    <h4 class="card-title">INSIRA A FOTO DO SEU PET AQUI</h4>
    <div class="card-body">
      <p class="card-text"></p>
      <div class="mb-3">
        <label for="formFile" class="form-label"></label>
      </div>
    </div>




    <!--FORMULARIO-->

    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
  </div>

  <div class="card2">
    <h4 class="card-title">AQUI SERÁ ALGUMA OUTRA COISA...</h4>

  </div>

</body>
