
*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* barra de pesquisa*/
.d-flex{
  float:right;
  margin-left: 1320px;
  margin-right: 0px;
}
body{
  background-color: rgb(200, 243, 243);
}
.card{
  width: 600px;
  height: 410px;
  margin-top: 100px;
  margin-left: 200px;
}
