<!DOCTYPE html>
<html lang="en"></html>
<head> </head>
<body>

  <!--FORMULARIO LOGIN-->


  <div class="card" >

    <div class="card-body">
      <h5 class="card-title">FOTO DO PET</h5>

      <form class="row g-3">

        <div class="col-12">
          <label for="inputAddress" class="form-label">Último local visto</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Endereço onde o pet foi encontrado" #inputAddress>
        </div>
        <div class="col-12">
          <label for="inputName" class="form-label">O Pet atende por?</label>
          <input type="text" class="form-control" id="inputName" placeholder="Nome do Pet" #inputName>
        </div>


        <div class="col-12">
          <label for="inputSize" class="form-label">Qual o tamanho do pet?</label>
            <select #inputSize class="form-control" aria-label="Default select example" >
                <option value="1">PP (0 á 6 Kg)</option >
                <option value="2">P (6 á 12 Kg)</option>
                <option value="3">M (12 á 20 Kg)</option>
                <option value="4">G (20 á 35 Kg)</option>
                <option value="5">GG (Mais de 35 Kg)</option>

          </select>
        </div>


        <div class="col-12">
          <label for="inputColor" class="form-label">Qual a cor do Pet?</label>
          <select #inputColor class="form-control" multiple aria-label="multiple select example">

            <option value="1">Branco</option>
            <option value="2">Marrom</option>
            <option value="3">Preto</option>
            <option value="4">Caramelo</option>
            <option value="5">Cinzento</option>
            <option value="6">Dourado</option>
            <option value="7">Vermelho</option>
          </select>
        </div>


        <div class="col-12">
          <label for="inputBreed" class="form-label">O Pet possui raça?</label>
          <input type="text" class="form-control" id="inputBreed" placeholder="Raça (opcional)" #inputBreed>
        </div>


        <div class="col-12">
          <label for="inputGender" class="form-label">Sexo do Pet</label>
          <select #inputGender class="form-control" aria-label="Default select example" >
            <option value="0" >Macho</option >
            <option value="1">Fêmea</option>

          </select>
        </div>


        <div class="col-12">
          <label for="inputDescription" class="form-label">Conte detalhes que ajudarão a encontra-lo</label>
          <input type="text" class="form-control" id="inputDescription" placeholder="Ele estava usando uma coleira vermelha" #inputDescription>
        </div>
        <br>


        <div class="mb-3" id="arqfoto">
          <label for="formFile" class="form-label">Selecione uma foto do Pet perdido</label>
          <input class="form-control" type="file" id="formFile" #inputFile>
        </div>

       </form>
      <br>
      <a (click)="addPet(inputName.value, inputBreed.value, inputColor.value,inputSize.value,inputGender.value, inputDescription.value, inputAddress.value, inputFile.files)" class="btn btn-primary">Confirmar Perdido</a>
  </div>
</div>
</body>
